<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfapay.rn">

    <application>
        <activity
            android:name=".AlfaPaySdkActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
